_deps/
.cache/
.cmake/

include/falutez.hpp
falutez_exports.h
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
compile_commands.json
Test.xml

*_tests.cmake
*_include.cmake
*ConfigVersion.cmake
*Config.cmake
*Targets.cmake

*.a
*.so
*.o
*.log
